/* Diseño para el contenedor del formulario */
#container-formulario {
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    margin: auto;
    max-width: 35rem;
    min-width: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#container-formulario h2 {
    text-align: center;
    font-family: Helvetica;
    margin-top: 20px;
}

/* Estilo para los elementos del formulario */
#container-formulario input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 15px;
    background: #f1f1f1;
}

#container-formulario input:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/register button */
#boton-registrar {
    background-color: #0074d9;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    opacity: 0.9;
    border-radius: 8px;
}

#boton-registrar:hover {
    opacity:1;
}

/* Estilo para el texto de inicio de sesión */
#login {
    margin: auto;
    max-width: 35rem;
    min-width: 15px;
}

#login p{
    text-align: center;
    margin-top: -25px;
}

#login a {
    text-decoration: none;
}

  
